.head{
  text-align: center;
  margin: 30px;
}

.head input {
	margin: 0px auto;
  display: block;
  font-size: 20px;
  width: 400px;
}


td {
  font-size: 18px;
}

#wins {
  color: green;
}

#losses {
  color: red;
}