body {

}

.container {
    margin-top: 20px;
}

input {
    font-size: 18px;
}

td {
    font-size: 18px;
}

#wins {
    color: green;
}

#losses {
    color: red;
}

.table-wraper {
    height: 580px;
    overflow: auto;
}

.champion-icon {
    display: inline-block;
}

.half-size-icon {
    width:60px;
    height:60px;
}

.white-block {
    padding: 20px;
    margin-bottom: 30px;
    background: #e9eaec;
    background-color: transparent;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1A000000,endColorstr=#1A000000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1A000000,endColorstr=#1A000000);
    background-color: darkgray;
    border-left: 1px solid rgba(84,84,84,0.3);
    border-top: 1px solid rgba(84,84,84,0.3);
    border-bottom: 1px solid rgba(255,255,255,0.6);
    border-right: 1px solid rgba(255,255,255,0.6);
}

#champion-info {
    text-transform: capitalize;
}

#champion-avatar {
    float: left;
}

#champion-name {
    font-size: 30px;
}

#champion-title {
    font-size: 18px;
}

#champion-splash {
    float: left;
    width: 165px;
    height: 300px;
}

#champion-tags {
    display: inline-block;
    padding: 5px 8px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: #FA8072;
    font-size: 0.875em;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
}

