body {
    background: #EEEEEE;
}

.container {
    margin-top: 20px;
}

input {
  font-size: 18px;
}

td {
  font-size: 18px;
}

#wins {
  color: green;
}

#losses {
  color: red;
}

.table-wraper {
    height: 600px;
    overflow: auto;
}

.champion-icon {
    display: inline-block;
}

.half-size-icon {
    width:60px;
    height:60px;
}

#championName {
    font-size: 30px;
    color: darkblue;
}

#championTitle {
    font-size: 18px;
    color: skyblue;
}

#championSplash {
    float: left;
    width: 165px;
    height: 300px;
}