body {
    background: #EEEEEE;
}

.container {
    margin-top: 20px;
}

input {
    font-size: 18px;
}

td {
    font-size: 18px;
}

#wins {
    color: green;
}

#losses {
    color: red;
}

.table-wraper {
    height: 580px;
    overflow: auto;
}

.champion-icon {
    display: inline-block;
}

.half-size-icon {
    width:60px;
    height:60px;
}

#champion-avatar {
    float: left;
    padding-right: 15px;
    width: 20%;
    height: 20%;
}

#champion-name {
    font-size: 30px;
    color: darkblue;
}

#champion-title {
    font-size: 18px;
    color: skyblue;
}

#champion-splash {
    float: left;
    width: 165px;
    height: 300px;
}

.champion-tags li {
    display: inline-block;
    padding: 5px 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: #FA8072;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
}